version: '3.8'

services:
  portainer:
    image: portainer/portainer-ee:{{ portainer_vers }}
    command: --tlsskipverify --license-key {{ portainer_license_key }}
    ports:
      - "{{ portainer_https_port }}:9443"
      - "{{ portainer_http_port }}:8000"
    environment:
      - TRUSTED_ORIGINS={{ portainer_trusted_origins }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    restart: unless-stopped
  registry:
    image: registry:{{ registry_vers }}
    environment:
      - REGISTRY_HTTP_ADDR=0.0.0.0:443
      - REGISTRY_HTTP_TLS_CERTIFICATE=/certs/{{ cert_name }}.crt
      - REGISTRY_HTTP_TLS_KEY=/certs/{{ cert_name }}.key
      - REGISTRY_STORAGE_DELETE_ENABLED=true
    ports:
      - 5555:443
    volumes:
      - registry_data:/var/lib/registry
      - type: bind
        source: ./certs
        target: /certs
    restart: unless-stopped

volumes:
  portainer_data:
  registry_data:


