version: "3.8"

services:
  filebrowser:
    image: filebrowser/filebrowser:v2.23.0-s6
    environment:
      - PUID={{ root_user_id }}
      - PGID={{ root_group_id }}
    volumes:
      - {{ file_browser_root_path }}:/srv
      - {{ file_browser_db_path }}/filebrowser.db:/database/filebrowser.db
      - {{ file_browser_config_path }}/settings.json:/config/settings.json
    ports:
      - {{ file_browser_port }}:80
