version: "3.8"

services:
  filebrowser:
    image: filebrowser/filebrowser:v2.23.0-s6
    restart: unless-stopped
    environment:
      - PUID={{ root_user_id }}
      - PGID={{ root_group_id }}
    volumes:
      - {{ file_browser_root_path }}:/srv
      - {{ file_browser_db_path }}:/database
      - {{ file_browser_config_path }}:/config
    ports:
      - {{ file_browser_port }}:80

  heimdall:
    image: linuxserver/heimdall
    restart: unless-stopped
    environment:
      - PUID={{ user_id }}
      - PGID={{ group_id }}
      - TZ=Europe/Rome
    volumes:
      - {{ heimdall_config_path }}:/config
    ports:
      - {{ heimdall_http_port }}:80
      - {{ heimdall_https_port }}:8443

  semaphore:
    image: semaphoreui/semaphore:latest
    environment:
      SEMAPHORE_DB_DIALECT: bolt
      SEMAPHORE_ADMIN_PASSWORD: changeme
      SEMAPHORE_ADMIN_NAME: admin
      SEMAPHORE_ADMIN_EMAIL: admin@localhost
      SEMAPHORE_ADMIN: admin
    # TODO: fix permission denied for database
    volumes:
      - {{ semaphore_config_path }}:/etc/semaphore
      - {{ semaphore_database_path }}:/var/lib/semaphore
    ports:
      - {{ semaphore_port }}:3000
